arm/_build
arm/nrf_observer.uvgui.*
arm/nrf_observer.uvgui_trsn.bak
arm/nrf_observer.uvopt
arm/nrf_observer_uvopt.bak
arm/nrf_observer_uvproj.bak
arm/nrf_observer_nRF51822.dep
arm/JLinkLog.*
arm/JLinkSettings.*
docs/
scopedata/
