arm/_build
arm/nrf_advertiser.uvgui.*
arm/nrf_advertiser.uvgui_trsn.bak
arm/nrf_advertiser.uvopt
arm/nrf_advertiser_uvopt.bak
arm/nrf_advertiser_uvproj.bak
arm/nrf_advertiser_nRF51822.dep
arm/JLinkLog.*
arm/JLinkSettings.*
docs/
scopedata/
